
.header {
  /*margin:0;*/
  padding: 5px;
  background: #F9A828;
  color: #2E383F;
  font-size: 30px;
  /*text-align: center;*/
  margin-left:70px;
  /*padding-left: 150px;*/
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  }

  .header img {
    float: left;
    margin-left: 30px;
    height: 300px;
    }

#Navigointi ul{
    list-style:none;
    display:block;
    padding:5px;
    margin: 5px;
    /*text-align:center;*/
}

#Navigointi li{
  display:inline;
  padding: 5px 15px;
  }

#Navigointi a{
color:#DC2F2F;
text-decoration:none;
font-size: 20px;
padding:10px;
}

/*div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}*/

/*#sidebar{
float:right;
widows: 30%;
background: #333;
color: #fff;
padding: 10px;
box-sizing: border-box;
text-align: center;
}*/

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #2E383F;
}

a:hover {
  text-decoration: underline;
  color:#F9A828;
}

a:active {
  text-decoration: underline;
}

body {
  height: 100%;
  background: linear-gradient(to left,#ECECEB 82%,#F9A828 18%);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  }
  
 
h2 {
  display:inline-block;
}

#Minna {
    display: block;
    border-radius: 8px;
    margin-left:100px;
    padding-left: 100px;
        }
    
.Container{
  width:60%;
  margin:auto;
  padding:2em;
  color:#2E383F;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  }

#main-footer{
  color: #dc2f2f;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}

button{
  width: 60px;
  padding: 10px;
  text-align:center;
  background:#07617D;
  font-size: 14px;
  color:#ECECEB;
  float:right;
}

  }