.header {
  padding: 5px;
  background: #f9a828;
  color: #2e383f;
  font-size: 30px;
  margin-left: 33px;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    Georgia, serif;
}

.header img {
  float: left;
  margin-left: 30px;
  height: 300px;
}

#Navigointi ul {
  list-style: none;
  display: block;
  padding: 5px;
  margin: 5px;
}

#Navigointi li {
  display: inline;
  padding: 5px 15px;
}

#Navigointi a {
  color: #07617d;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}

a:link {
  text-decoration: none;
  color: #f9a828;
}

a:visited {
  text-decoration: none;
  color: #f9a828;
}

a:hover {
  text-decoration: underline;
  color: #f9a828;
}

a:active {
  text-decoration: underline;
}

h2 {
  display: inline-block;
}

h3 {
  color: #07617d;
}

h4 {
  color: #07617d;
}

body {
  height: 100%;
  background: linear-gradient(to left, #ececeb 82%, #f9a828 18%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#Minna {
  display: block;
  /*border-radius: 15px;*/
  margin-left: 100px;
  padding-left: 100px;
}

.Container {
  width: 60%;
  margin: auto;
  padding: 2em;
  color: #2e383f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

#main-footer {
  color: #07617d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 10px;
}

button {
  width: 60px;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  background: #07617d;
  font-size: 14px;
  color: #ececeb;
  float: right;
}

#flag img {
  display: block;
  float: left;
  block-size: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

#hobbies img {
  display: block;
  float: left;
  block-size: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

#hobbies-1 img {
  display: block;
  float: right;
  block-size: 130px;
  margin-right: 10px;
}

#hobbies-2 img {
  display: block;
  float: left;
  block-size: 120px;
  margin-left: 10px;
  margin-right: 10px;
}

.clearfix {
  clear: both;
}
#contact img {
  display: block;
  float: left;
  block-size: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

#osaaminen li {
  list-style: none;
  display: block;
  padding: 5px;
  margin: 5px;
}
